.idea/
.vscode/

__pycache__/
*.py[cod]
.pip/
.pytest_cache
.coverage
/htmlcov
/reports
/*.sql

/venv
/logs/*
/temp
/.env

!/**/.gitkeep

/config.yaml
/dev/api_tests/http-client.env.json

/Makefile.env
/docker-compose_local.yml
coverage.xml

.ruff_cache/
.mypy_cache/
.betterer_cache/
