Flask~=3.1.0
Flask-Failsafe~=0.2
Flask-Migrate~=4.1.0
Flask-SQLAlchemy~=3.1.1
SQLAlchemy~=2.0.38
SQLAlchemy-Utc~=0.14.0
pytz~=2025.1
psycopg2-binary~=2.9.10
pymysql~=1.1.1
requests~=2.32.3
alembic~=1.14.1
gunicorn~=23.0.0
pyyaml~=6.0.2
celery~=5.4.0
werkzeug~=3.1.3
validataclass~=0.11.0
python-dotenv~=1.0.1
click~=8.1.8
openpyxl~=3.1.5
opening-hours-py~=1.1.1
kombu~=5.4.2
lxml~=5.3.1
parkapi-sources~=0.17.3

# required for converters
beautifulsoup4~=4.13.3
pyproj~=3.7.1

# binary butterfly shared libraries (https://git.binary-butterfly.de/public_libraries)
--extra-index-url https://git.binary-butterfly.de/api/v4/groups/262/-/packages/pypi/simple
validataclass-search-queries~=0.5.1
flask-openapi~=2.0.3
