Flask~=3.1.2
Flask-Failsafe~=0.2
Flask-Migrate~=4.1.0
Flask-SQLAlchemy~=3.1.1
SQLAlchemy~=2.0.43
SQLAlchemy-Utc~=0.14.0
psycopg2-binary~=2.9.10
pymysql~=1.1.2
requests~=2.32.5
alembic~=1.16.5
gunicorn~=23.0.0
pyyaml~=6.0.2
celery~=5.5.3
werkzeug~=3.1.3
validataclass~=0.11.0
python-dotenv~=1.1.1
click~=8.2.1
openpyxl~=3.1.5
opening-hours-py~=1.1.3
kombu~=5.5.4
lxml~=6.0.1
parkapi-sources~=0.26.1
isodate~=0.7.2
shapely~=2.1.1
urllib3~=2.5.0

# If you want to test a ParkAPI Sources version which is not yet released, you can install directly from Github:
# git+https://github.com/ParkenDD/parkapi-sources-v3.git@your-feature-branch


# binary butterfly shared libraries (https://git.binary-butterfly.de/public_libraries)
--extra-index-url https://git.binary-butterfly.de/api/v4/groups/262/-/packages/pypi/simple
validataclass-search-queries~=0.5.1
flask-openapi~=2.3.0
