Flask~=3.0.3
Flask-Failsafe~=0.2
Flask-Migrate~=4.0.7
Flask-SQLAlchemy~=3.1.1
SQLAlchemy~=2.0.30
SQLAlchemy-Utc~=0.14.0
pytz~=2024.1
psycopg2-binary~=2.9.9
pymysql~=1.1.1
requests~=2.32.3
alembic~=1.13.1
gunicorn~=22.0.0
pyyaml~=6.0.1
celery~=5.4.0
werkzeug~=3.0.3
validataclass~=0.10.0
python-dotenv~=1.0.1
click~=8.1.7
openpyxl~=3.1.4
opening-hours-py~=0.6.18
kombu~=5.3.7
lxml~=5.2.2
parkapi-sources~=0.5.3

# required for converters
beautifulsoup4~=4.12.3
pyproj~=3.6.1

# binary butterfly shared libraries (https://git.sectio-aurea.org/public_libraries)
--extra-index-url https://git.sectio-aurea.org/api/v4/groups/262/-/packages/pypi/simple
validataclass-search-queries~=0.5.0
flask-openapi~=2.0.3
