name: build & publish Docker image

on:
  release:
    types:
      - published
  push:
    tags:
      - 'preview-**'

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v5

    - name: set up Docker buildx
      uses: docker/setup-buildx-action@v3

    - name: log into the GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}

    - name: lowercase repo name
      id: lower-repo
      uses: ASzc/change-string-case-action@v6
      with:
        string: ${{ github.repository }}

    - name: build and push Docker image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: |
          ghcr.io/${{ steps.lower-repo.outputs.lowercase }}:latest,ghcr.io/${{ steps.lower-repo.outputs.lowercase }}:${{ github.ref_name }}
        platforms: linux/amd64,linux/arm64
        # https://docs.docker.com/build/ci/github-actions/cache/#cache-backend-api
        cache-from: type=gha
        cache-to: type=gha,mode=max
        file: Dockerfile.prod
